<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>ljbmWeb</display-name>

	<ejb-ref>
		<ejb-ref-name>ejb/FPDominio</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<lookup-name>
			java:global/ljbmEAR/ljbmEJB/FPDominioImpl!br.com.ljbm.fp.servico.FPDominio
		</lookup-name>
		<remote>br.com.ljbm.fp.servico.FPDominio</remote>
	</ejb-ref>

<!-- 	<resource-ref> -->
<!-- 		<res-ref-name>jdbc/ljbmDS</res-ref-name> -->
<!-- 		<res-type>javax.sql.DataSource</res-type> -->
<!-- 		<res-auth>Container</res-auth> -->
<!-- 		<res-sharing-scope>Shareable</res-sharing-scope> -->
<!-- 		<lookup-name>jdbc/ljbmDS</lookup-name> -->
<!-- 	</resource-ref> -->

<!-- 	<context-param> -->
<!-- 		<param-name>javax.faces.DEFAULT_SUFFIX</param-name> -->
<!-- 		<param-value>.xhtml</param-value> -->
<!-- 	</context-param> -->

<!-- 	
	Set the PROJECT_STAGE to 'Development' to receive constructive error messages during
	development. Change the PROJECT_STAGE to 'Production' when putting the application into
	production -->	
 	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	
	<context-param>
		<description>State saving method: 'client' or 'server' (default). See JSF Specification section 2.5.2</description>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.resourceOptimization.enabled</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.skin</param-name>
		<param-value>blueSky</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<!-- <servlet> -->
	<!-- <servlet-name>Rest</servlet-name> -->
	<!-- <servlet-class>javax.ws.rs.core.Application</servlet-class> -->
	<!-- <load-on-startup>1</load-on-startup> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>Rest</servlet-name> -->
	<!-- <url-pattern>/rest/*</url-pattern> -->
	<!-- </servlet-mapping> -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>/entra.html</welcome-file>
	</welcome-file-list>
</web-app>
